<div class="flex items-center mb-2">
    <% 5.times do |i| %>
        <svg class="w-4 h-4 <%= i < note.to_i ? 'text-indigo-500' : 'text-gray-300' %> me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
    <% end %>
    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400"><%= number_with_precision(note, precision: 1) %></p>
    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">sur</p>
    <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
</div>
<p class="text-sm font-medium text-gray-500 dark:text-gray-400"><%= accommodation.notations_count %> global ratings</p>

<% if note.present? %>
    <% (5).downto(1) do |star| %>
        <% count = accommodation.notations.where(note: star).count %>
        <% percentage = (count.to_f / accommodation.notations_count * 100).round %>
        <div class="flex items-center mt-4">
            <a class="text-sm w-12"><%= star %> star<%= star > 1 ? 's' : '' %></a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded-sm dark:bg-gray-700">
                <div class="h-5 bg-indigo-500 rounded-sm" style="width: <%= percentage %>%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400"><%= percentage %>%</span>
        </div>
    <% end %>
<% end %>
